---
import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslatedPath } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul>
  {
    Object.entries(languages)
      .filter(([currentLang]) => lang !== currentLang)
      .map(([lang, label]) => (
        <li>
          <a href={translatePath("/", lang)}>{label}</a>
        </li>
      ))
  }
</ul>

<style>
  ul {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.5rem;
  }
</style>
