---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import LangSwitcher from "./LangSwitcher.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
	<main>
		<h1>{t("welcome.title")}</h1>
		<LangSwitcher />
	</main>
</div>

<style>
	h1 {
		text-align: center;
	}
</style>
